.button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ff6b00;
  height: 100px;
  font-family: PingFangSC-Regular;
  font-size: 32px;
  color: #ffffff;
  line-height: 100px;
  text-align: center;
  z-index: 99;
}
