.poperContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 28px;
  &.right {
    flex-flow: row-reverse nowrap;
  }
}

.poper {
  display: inline-block;
  max-width: 80vw;
  background-color: #fff;
  padding: 10px 18px;
  border-radius: 4px;
  margin: 0px 0px 10px 20px;
  position: relative;
  word-break: break-all;
  word-wrap: break-word;
  text-align: left;
  &::after {
    content: "";
    border: 8px solid #ffffff00;
    border-right: 8px solid #fff;
    position: absolute;
    top: 6px;
    left: -16px;
  }
}

.poperRight {
  display: inline-block;
  max-width: 80vw;
  background-color: #fff;
  padding: 10px 18px;
  border-radius: 4px;
  margin: 0px 20px 10px 0px;
  position: relative;
  word-break: break-all;
  word-wrap: break-word;
  text-align: left;
  &::after {
    content: "";
    border: 8px solid #ffffff00;
    border-left: 8px solid #fff;
    position: absolute;
    top: 6px;
    right: -16px;
  }
}

.avatar {
  width: 80px;
  height: 80px;
  background: #fff;
  background-size:cover;
  background-position: top;
}

.poperContentWrapper {
  max-width: 80vw;
  &.right {
    text-align: right;
  }
}

.name {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 20px;
  &.right {
    margin-left: 0;
    margin-right: 20px;
    text-align: right;
  }
}
