@import "./function.scss";

// 颜色
$fontColor: #454554; // 主要字体颜色
$subFontColor: #8f8f98; // 次要字体颜色
$priceFontColor: #f35656; // 价格字体颜色
$font-base-color: #454553; // 页面字体基本颜色

// 字号
$fontSize: rem(30); // 主要字体大小
$subFontSize: rem(24); // 次要字体大小

// 页面背景色
$page-bg: #f9fafc;
