.content{
  height: 100%;
  background-color: #f7f8fa;
  .title{
    padding: 16px 24px;
    background: #fff;
    span:last-child{
      float: right;
      color: rgb(242, 142, 69);
    }
  }

  .tip{
    color: #ccc;
    padding: 16px 24px;
    span{
      color: rgb(242, 142, 69);
    }
    a{
      text-decoration: underline;
    }
  }
      .payBtn{
        width: 90%;
        text-align: center;
        border: none;
        position: absolute;
        bottom: 10px;
        border-radius: 50px;
        left: 5%;
        height: 80px;
        line-height: 80px;
        font-size: 26px;
        color: #ffffff;
        background-image: linear-gradient(to right, #f96d2f , #ff2836);
      }
}